
/*
Colours
Light Purple: #7E7EB4
Deep Purple: #3C3C67
Dark Purple: #171727 
Mint Green: #6DC5B2
Dark Mint Green: #46AF98
*/


/* ------- CSS RESET - Always start with this in css ------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; }

/* Optional padding to override default gridlex columns */ 
[class*=col] { padding: 0; }




/* -------------- Universal Styles & Utility Classes ------------- */

/* Padding Utility Classes */
.padded { padding: 5% }
.padded-sm { padding: 1rem; }
.padded-lg { padding: 10%;}

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }


/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* Background & Images */

.bg-dark { 
    background-color: #3C3C67;
    color: #46AF98;
 }

 .bg-light {
    background-color: #46AF98;
    color: #3C3C67;
 }

 .bg-extralight {
    background-color: #6DC5B2;
 }


 /* Minimum Height Classes */

.tall-50 {min-height: 50vh;  }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }



/* Image Styles */

.bg-image {
    background-image: url('/images/project-1-ioc-heatherice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.landscape { padding-bottom: 65%;  }
.portrait  { padding-bottom: 125%; }
.square    { padding-bottom: 100%; }




/* Icon Grid */
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 10rem;
}



/* Typography Styles */

body {
    font-family: 'Catamaran', sans-serif;
    color: #171727;
}


h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3 { 
    font-size: 1.8rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.1;
}

h2, h3, h4, h5, h5 {
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
}

a:hover {
    color: #46AF98;
}


.font-weight-light      { font-weight: 200;}
.font-weight-normal     { font-weight: normal;}
.font-weight-extra-bold { font-weight: 800;}

.text-left    { text-align: left;   }
.text-center  { text-align: center; }
.text-right   { text-align: right;  }


.featured-text { color: #46AF98; }
.mint-text { color: #46AF98; }
.white-text { color: white; }


.small-text  { 
    font-size: 1.5rem;
}

.medium-text { 
    font-size: 2rem;  
    line-height: 1.1;
}

.big-text { 
    font-size: 4.5rem;  
}

.subtitle { 
    font-size: 1.2rem;
    color: #3C3C67;
}



/* Font Awesome Icons */

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: #46AF98 ;
    line-height: 1;
}

.icecream-icon {
    font-size: 3rem;
}


/* --------- Buttons & Forms -------- */
input, 
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
border: 2px solid #46AF98;
outline: none;
}

button {
    padding: 0.5rem 2rem;
    background-color: #46AF98;
    color: white;
    appearance: none;
    border: none;
    display: inline-block;
    letter-spacing: 0.2px;
}

button:hover {
    background-color: white;
    color: #46AF98;
}






 /* ---------- Header & Footer Styles ---------- */

header {
    background-image:url(/images/project-1-ioc-heatherice.jpg) ; 
    background-size: cover;
    background-position: 50% 88%;
    padding: 2% 5%;
    position: relative;
}


header a {
    padding: 0.25rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}


header h3 {
    font-size: 5.5rem;
    line-height: 1;
    margin-bottom: 0;
}

footer a {
    border: none;
}

.logo h2 {
    margin-bottom: 0;
}


.parent { position: relative; }


.child {
  	position: absolute;
  	right: 10px;
  	bottom: 0;  
}

.child-nav {
    position: relative;
    right: 10px;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}


/* ---------- Background Images ---------- */

.bg-fruitice {
    background-image: url('images/project-1-ioc-fruitice.jpg');
}

.bg-bluebowl { 
    background-image: url('images/project-1-ioc-blueberrybowl.jpg');
    background-position: 14% 3%;
}

.bg-fruitice {
    background-image: url('images/project-1-ioc-fruitice.jpg');
    background-position: 50% 41%;
}

.bg-chocice {
    background-image: url('images/project-1-ioc-chocice.jpg') ;
    background-position: center;
}

.bg-purpleice {
    background-image: url('images/project-1-ioc-purpleice.jpg') ;
}



/* -------- General CSS Responsive Styles (Apply everywhere unless overridden) -------- */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}



/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

body { 
    border: 2px solid green;
    padding: 0.5rem;
}

  .show-md { display: block; }
  .hide-md { display: none;  }
}

.md-tall-80 { min-height: 80vh;}



/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

   html { font-size: 14px; } 
   p    { font-size: 1.1rem }

   body { border: 2px solid blue;}

  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left   { text-align: left;  }
  .sm-text-right  { text-align: right; }

  .sm-padded    { padding: 5%; }
  .sm-padded-1  { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0;  }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0;  }
  .sm-margin-r-0 { margin-right: 0; }

  .logo h2       { font-size: 2rem; }
  header h3      { font-size: 11vw; }

}



/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

  html {font-size: 14px; }

  body { border: 2px solid lightblue;}

  .show-xs { display: block; }
  .hide-xs { display: none;  }

  h1 {
    font-size: 1.4rem;
    line-height: 1.1;
  }

  h2 { font-size: 2rem; }
  p  { font-size: 14px; }
  h3 { font-size: 1.5rem }

}



/* ------- Optional XXS Media Query (25em / 400px) NOT part of default Gridlex styling--------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 

@media (max-width: 25em) {

    html { font-size: 12px; } 
    p    { font-size: 11px; }

    [class*=grid] .xxs-stack {
        flex-basis: 100%;
        max-width: 100%;
    }
}